{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <form method="POST">
                <div class="row mb-3">
                    <div class="col-6">
                        <div>
                            <label for="firstName" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="firstName" name="person[firstName]">
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label for="lastName" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="lastName" name="person[lastName]">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="person[email]">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </div>
{% endblock %}
