{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ include('person/_form.html.twig', {button_label: 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
